---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
title: "Fernando Mamani Yncaluque";
date: "2023-10-08";
author: "Fernando Mamani";
---

<Layout title="Fernando Mamani Yncaluque | Desarrollador Frontend">
  <Menu />
  <div id="fullpage">
    <Home />
    <About />
    <Projects />
    <Contact />
  </div>
</Layout>
