---
import Skills from "./Skills.astro";
import SoftSkills from "./SoftSkills.astro";
title: "Sobre mi";
date: "2023-10-08";
author: "Fernando Mamani";
---

<section class="section" data-anchor="about">
  <div class="container mx-auto my-5 px-5">
    <!-- Title secction -->
    <div class="flex flex-row items-center justify-center gap-3 mb-3">
      <div class="h-0.5 w-20 sm:w-24 bg-indigo-950"></div>
      <h2 class="text-center m-0 text-indigo-950 font-extrabold text-3xl">
        Acerca de
      </h2>
      <div class="h-0.5 w-20 sm:w-24 bg-indigo-950"></div>
    </div>
    <!-- /Title secction -->

    <!-- About description -->
    <div class="p-5 mb-6">
      <div class="flex flex-col sm:flex-row gap-3 items-center">
        <img
          src="/img/profile.png"
          alt=""
          class="rounded-full shadow-lg mr-3"
          style="width: 100px;"
        />
        <p class="text-lg firts-letter">
          Soy un profesional con una s칩lida experiencia como <strong
            >desarrollador front-end</strong
          >
           freelancer en la creaci칩n de aplicaciones personalizadas, el dise침o
          de interfaces de usuario, el desarrollo de componentes y la
          integraci칩n de API. Estoy comprometido a brindar resultados
          excepcionales a mis clientes y aportar valor a cada proyecto en el que
          me involucro.
        </p>
      </div>
    </div>
    <!-- /About description -->

    <Skills />
    <SoftSkills />
  </div>
</section>
<style>
  .firts-letter::first-letter {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 1px;
    float: left;
  }
</style>
