<section data-anchor="home" class="section">
  <div class="container mx-auto py-20 animate__animated animate__bounce">
    <div class="grid sm:grid-cols-1 md:grid-cols-2">
      <div
        class="flex flex-col justify-center px-5 lg:ps-10 text-center md:text-left"
      >
        <p class="text-4xl sm:text-5xl font-extrabold pb-5 italic">
          Hola!, soy
        </p>
        <h1
          class="text-6xl md:text-5xl lg:text-6xl font-extrabold italic pb-5 name md:text-left"
        >
          Fernando Mamani
        </h1>
        <p class="text-2xl md:text-3xl font-bold pb-8 italic">
          FRONT-END DEVELOPER
        </p>

        <div class="flex gap-3">
          <a
            href="/files/cv.pdf"
            download="CV-Fernando Mamani"
            class="text-center bg-orange-400 hover:bg-orange-500 text-lg border border-neutral-500 p-2 w-full md:w-52 rounded shadow-md shadow-black transform transition-transform duration-300 hover:scale-105"
          >
            <span class="font-extrabold text-black">Descargar CV</span>
            <span class="hidden lg:inline ms-3"
              ><i class="fa-solid fa-download"></i></span
            >
          </a>
          <a
            data-menuanchor="contact"
            href="#contact"
            class="text-center bg-indigo-900 hover:bg-indigo-950 text-lg border border-black p-2 w-full md:w-52 rounded shadow-md shadow-black transform transition-transform duration-300 hover:scale-105"
          >
            <span class="font-extrabold text-white">Contáctame</span>
            <span class="hidden lg:inline ms-3 text-white"
              ><i class="fa-solid fa-paper-plane"></i></span
            >
          </a>
        </div>
      </div>
      <div class="py-10 md:py-5">
        <video
          autoplay
          loop
          src="/video/animation.mp4"
          class="hidden md:block mx-auto"></video>

        <!-- <img src="/svg/developer.svg" alt="" class="w-80 mb-6" /> -->
        <!-- Social -->
        <div class="flex justify-center gap-5 p-2">
          <a
            href="https://github.com/fyncaluque"
            target="_blank"
            class="rounded-full bg-orange-200 w-16 py-1 flex justify-center items-center border border-black shadow shadow-black transition-transform duration-300 hover:scale-105"
          >
            <span><i class="fa-brands fa-github"></i></span>
          </a>

          <a
            href="https://www.linkedin.com/in/fyncaluque/"
            target="_blank"
            class="rounded-full bg-indigo-200 w-16 py-1 flex justify-center items-center border border-black shadow shadow-black transition-transform duration-300 hover:scale-105"
          >
            <span><i class="fa-brands fa-linkedin-in"></i></span>
          </a>
          <a
            href="https://www.behance.net/fyncaluque"
            target="_blank"
            class="rounded-full bg-green-200 w-16 py-1 flex justify-center items-center border border-black shadow shadow-black transition-transform duration-300 hover:scale-105"
          >
            <span class="text-lg font-bold"
              ><i class="fa-brands fa-behance"></i></span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .name {
    color: #2e166a;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
  }
</style>
