---

---

<div
  class="flex flex-col lg:flex-row mx-auto mb-20 shadow-md w-10/12 lg:w-full rounded-lg"
>
  <div class="h-2 w-full bg-indigo-500 rounded-t-lg lg:hidden"></div>
  <img src="/img/image.png" alt="" class="lg:rounded-l-lg lg:w-4/6" />

  <div
    class="p-5 bg-indigo-500 rounded-b-lg lg:rounded-bl-none lg:rounded-tr-lg flex items-center text-white"
  >
    <div>
      <h5 class="font-extrabold text-indigo-100 mb-1">Plataforma de cursos</h5>
      <h4 class="font-bold text-4xl">PEC PNP</h4>
      <p class="mb-5">
        Plataforma que permite a efectivos policiales solicitar la inscripción a
        cursos brindados por la Policía Nacional del Perú.
      </p>
      <!-- Stack -->
      <div class="flex gap-2">
        <span
          class="bg-indigo-800 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Angular</span
        >
        <span
          class="bg-indigo-800 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Bootstrap</span
        >
        <span
          class="bg-indigo-800 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Git</span
        >
      </div>
    </div>
  </div>
</div>
