---
interface Props {
  title: string;
  color: string;
}

const { title, color } = Astro.props;
---

<div
  class="flex items-center transition-transform duration-300 transform hover:translate-x-1"
>
  <span
    class={`bg-indigo-600 rounded-full w-10 h-10 flex justify-center items-center border border-indigo-600 shadow-sm shadow-black `}
  >
    <slot />
  </span>

  <span class="ml-3 font-semibold">{title}</span>
</div>
