<div class="flex flex-col lg:flex-row p-5">
  <!-- Image -->
  <img
    src="/img/img-easypos.jpeg"
    alt="Plataforma de educacion continua"
    class="md:w-7/12 rounded-lg shadow-lg shadow-black"
  />
  <!-- /Image -->

  <div class="flex items-center">
    <div class="py-5 sm:p-10">
      <h5 class="font-extrabold mb-1">Punto de venta</h5>
      <h4 class="font-extrabold text-4xl">
        Easy POS <a
          href="https://easypos-demo.vercel.app/"
          target="_blank"
          class="text-orange-600 text-2xl"
          ><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </h4>
      <p class="mb-5">
        Es un Punto de venta simple y fácil de usar, hecho para negocios
        pequeños.
      </p>
      <!-- Stack -->
      <div class="flex gap-2">
        <span
          class="bg-orange-600 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Angular</span
        >
        <span
          class="bg-orange-600 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Bootstrap</span
        >
        <span
          class="bg-orange-600 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >NgRx</span
        >
        <span
          class="bg-orange-600 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Firebase</span
        >
      </div>
    </div>
  </div>
</div>
