<div class="flex flex-col lg:flex-row p-5">
  <!-- Image -->
  <img
    src="/img/img-journal.png"
    alt="Plataforma de educacion continua"
    class="md:w-7/12 rounded-lg shadow-lg shadow-black"
  />
  <!-- /Image -->

  <div class="flex items-center">
    <div class="py-5 sm:p-10">
      <h5 class="font-extrabold mb-1">Agenda</h5>
      <h4 class="font-extrabold text-4xl">
        Journal App <a
          href="https://journal-app-demo.vercel.app/"
          target="_blank"
          class="text-indigo-800 text-2xl"
          ><i class="fa-solid fa-arrow-up-right-from-square"></i></a
        >
      </h4>
      <p class="mb-5">
        Aplicación para guardar notas o recordatorios, sincronizada con tu
        cuenta de google.
        <!-- Stack -->
        <div class="flex gap-2">
          <span
            class="bg-indigo-900 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
            >React</span
          >
          <span
            class="bg-indigo-900 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
            >Material UI</span
          >
          <span
            class="bg-indigo-900 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
            >Redux</span
          >
          <span
            class="bg-indigo-900 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
            >Firebase</span
          >
        </div>
      </p>
    </div>
  </div>
</div>
