<div class="flex flex-col lg:flex-row p-5">
  <!-- Image -->
  <img
    loading="lazy"
    src="/img/img-pec.jpeg"
    alt="Plataforma de educacion continua"
    class="md:w-7/12 rounded-lg shadow-lg shadow-black"
  />
  <!-- /Image -->

  <div class="flex items-center">
    <div class="py-5 sm:p-10">
      <h5 class="font-extrabold mb-1">Plataforma de cursos</h5>
      <h4 class="font-extrabold text-4xl">PEC PNP</h4>

      <p class="mb-3">
        Plataforma que permite a efectivos policiales solicitar la inscripción a
        cursos brindados por la Policía Nacional del Perú.
      </p>

      <!-- Stack -->
      <div class="flex flex-wrap gap-2">
        <span
          class="bg-gray-700 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Angular</span
        >
        <span
          class="bg-gray-700 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >Bootstrap</span
        >
        <span
          class="bg-gray-700 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >NgBootstrap</span
        >
        <span
          class="bg-gray-700 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >HTML</span
        >
        <span
          class="bg-gray-700 text-white py-1 px-3 font-semibold text-sm rounded-2xl"
          >CSS</span
        >
      </div>
    </div>
  </div>
</div>
